@font-face {
   font-family: 'times new roman';
   font-display: swap;
   src: url('file:///C:/Users/USER-PC/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-05-27_081035/fonts/times%20new%20roman/font.ttf');
}
